<h2></h2>

<div ng-controller="HomeCtrl">

	<form class="form cc-form col-sm-8" cc-form ng-submit="savePaymentMethod($event)">
		<fieldset>
			<legend>Enter your Payment info below</legend>

			<div class="form-group col-sm-6">
				<label>
					<!-- <div class="col-sm-5 control-label">Cardholder's Name as it appears on Card</div> -->
					<input type="text" class="form-control" ng-model="currentCC.name" placeholder="Cardholders Name"/>
				</label>
			</div>

			<div class="form-group col-sm-6">
				<label>
					<!-- <div class="col-sm-5 control-label">Card number</div> -->
					<input type="text" class="form-control nob-l" ng-pattern="/\d/" minlength="12" maxlength="19" ng-model="currentCC.number" placeholder="Card Number" cc-card-number/>
				</label>
			</div>

			<div class="form-group col-sm-3">
				<label>
					<!-- <div class="col-sm-5 control-label">CID from the back of the Card</div> -->
					<input type="text" class="form-control nob-t" ng-model="currentCC.cid" minlength="3" maxlength="4" placeholder="CID"/>
				</label>
			</div>

			<div class="form-group col-sm-3">
				<label>
					<!-- <div class="col-sm-5 control-label">Expiration Date</div> -->
					<input type="month" class="form-control nob-tl" ng-model="currentCC.expires" placeholder="Expiration Date"/>
				</label>
			</div>

			<div class="form-group col-sm-6">
				<label>
					<input type="submit" class="form-control nob-tl btn btn-primary" value="Save Payment Method" />
				</label>
			</div>
		</fieldset>
	</form>

	<div class="col-sm-4 cc-card" cc-card ></div>
	<div class="clearfix"></div>
</div>



<div class="saved-payment-methods">
	<h2>Your saved Payment methods</h2>
	<table class="table table-striped table-hover cc-list">
		<thead>
			<th>#</th>
			<th class="name">Cardholder Name</th>
			<th class="number">Card Number</th>
			<th class="cid">CID</th>
			<th class="expires">expiration Date</th>
		</thead>
		<tbody>
			<tr ng-repeat="cc in savedPaymentMethods">
				<td class="index">{{$index}}</td>
				<td class="name">{{cc.name}}</td>
				<td class="number">{{cc.number}}</td>
				<td class="cid">***</td>
				<td class="expires">{{cc.expires}}</td>
			</tr>

		</tbody>
	</table>
</div>


<div cc-test-elt-dir></div>
<input type="text" cc-test-input-dir/>